.landing {
    text-align: center;
  }
  
  .landing-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  .landing-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .landing-main {
    padding: 20px;
  }
  
  .landing-image {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  .landing {
    text-align: center;
    padding: 20px;
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .therapist-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .therapist-photo:hover {
    transform: scale(1.1);
  }
  